
@import url('https://fonts.googleapis.com/css2?family=Varela&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body { 

  font-family: 'Varela', sans-serif;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.d-n{
    display: none;
}



